<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercury.sharecleaner">

    <application
        android:label="ShareCleaner"
        android:icon="@android:drawable/ic_menu_share">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="清理分享到微信/QQ时链接中的追踪参数，适用于所有接入微信/QQ SDK的App" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>
</manifest>
